@model IEnumerable<SuperLibrary.Web.Models.UserViewModel>
@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>

<a asp-action="CreateEmployee" asp-controller="Account" class="btn btn-success mb-3">Add Employee</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Username)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Username</td>
            <td>@employee.Email</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.PhoneNumber</td>
            <td>
                <a asp-action="EditEmployee" asp-controller="Account" asp-route-id="@employee.Username" class="btn btn-primary btn-sm">Edit</a>
                <!-- Optionally add a Delete button if you implement deletion -->
            </td>
        </tr>
    }
    </tbody>
</table>