@model SuperLibrary.Web.Models.UserViewModel
@{
    ViewData["Title"] = $"{Model.Username} Profile";
}

<h1>@Model.Username Profile</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Model.Username</dd>
                <dt class="col-sm-3">First Name</dt>
                <dd class="col-sm-9">@Model.FirstName</dd>
                <dt class="col-sm-3">Last Name</dt>
                <dd class="col-sm-9">@Model.LastName</dd>
                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>
                <dt class="col-sm-3">Phone Number</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@ViewBag.ProfileImageUrl" alt="Profile Picture" style="width:300px;height:300px;max-width:100%;height:auto;border-radius:10px;object-fit:cover;" />
        </div>
    </div>
</div>
<div class="mt-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="EditUserInRole" asp-controller="Account" asp-route-username="@Model.Username" asp-route-role="@ViewBag.Role" class="btn btn-outline-warning"> Edit</a>
    }
    <a asp-action="UsersByRole" asp-controller="Account" asp-route-role="@ViewBag.Role" class="btn btn-outline-secondary"> Return</a>
</div>
